#
# Variables GameZIP
#

# If you would prefer to use RAWG, fill this field with your API Key
# Else leave it empty.
API=

# IGDB API (if you don't use rawg), read here https://api-docs.igdb.com/#account-creation
client_id= 
client_secret=

# Where your files will be stored after compression, Example /home/ola/
# Important: The "/" at the end of the path is needed.
storeFolder=/set/yours/
# Torrents games category, example 'Games'
categoryName=Games
logFileLocation=gameZip.log
# Number of CPU threads to use with 7z
multithread=8

## Stuff for organizing media torrents ##
# Please ignore if you are not using this script to organize media files
# without being configured, the script works as intended for games.
# I prefer to implement both games and media file organization in the same script
# The 'media' section of this script does not compress anything, it hardlinks the files to the output location instead
# This allows to still seed files and have them in another location while keeping the same storage cost.

# Comma-separated list of torrent categories of media files. Example "Movies,Anime,TVShows"
media_names=
# Comma-separated list of target directories for each media category.
# Must be a 1:1 relation, first element of media_names goes with first of media_locations and so on...
# Example: "/Movies/,/MyAnime/,/tvShows/"
media_locations=
